<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Calc/Calc.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalc" contract="sRefCalc.ICalc"
                name="BasicHttpBinding_ICalc" />
        </client>
    </system.serviceModel>
</configuration>